
.App-header{
  background-color: whitesmoke;

}
/* Nav Bar*/

.navItems{
  display: inline-flex;
  list-style: none;
  color: black;
  font-size: 1.2rem;
}

.item{
  margin-right: 4rem;
}

.card{

}
